.bn-editor {
    padding-right: 12px !important;
}

@media (min-width: 48rem) {
    .bn-editor {
        padding-right: 24px !important;
    }
}

[data-text-color] {
    color: attr(data-text-color type(<color>));
}